
 $screen-desktop-min: 600px;
 $screen-mobile-max:599px;
 a {
  color: inherit;
}
@media only screen and (min-width: #{$screen-desktop-min}) {
  .header-section{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: initial;
    background-attachment: fixed;
    background-image: url(https://github.com/mrebb/my-portfolio/blob/master/src/assets/fullpic.JPG?raw=true);
    height:100%;
    width:100%; 
  }
  .title-section{
    margin-left: 30%;
    margin-top: 24%;
  }
  }

@media only screen and (max-width: #{$screen-mobile-max}) {
.header-section:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url(https://github.com/mrebb/my-portfolio/blob/master/src/assets/fullpic.JPG?raw=true) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
.title-section{
  margin-left: 15%;
  margin-top: 107%;
}
 
}
